
*debug*
*release*
*.user
/build-*/*
Makefile
/DelegateExample/build-DelegateExample-Desktop
/QGraphicsViewTest/build-QGraphicsViewTest-Desktop
/QGraphicsViewTest/QGraphicsViewTest/*.yC8336
/QGraphicsViewTest/QGraphicsViewTest/*.user
/QGraphicsViewTest/QGraphicsViewTest/*.pro
